@page
@model MalgreToutV2.Pages.ChooseDatabaseModel
@{
}

<div class="text-center">
    <h1 class="display-4">Malgré Tout</h1>

    <div class="wrapper">
        <div class="row">
            <div class="col-sm">
                <a asp-page="/PickupPoint/Read"><img src="~/imgs/database.png" class="front-img" /></a>
                <p>Pickup Point</p>
            </div>

            <div class="col-sm">
                <a asp-page="/ContactPerson/Read"><img src="~/imgs/location.png" class="front-img" /></a>
                <p>Contact Person</p>
            </div>
        </div>
    </div>
</div>

<style>
    .front-img {
        width: 12em;
        height: auto;
        transition: ease-in-out 0.2s;
    }

        .front-img:hover {
            opacity: 0.8;
            filter: blur(1px);
        }

    .col-sm {
        padding: 2em;
    }

    @@media only screen and (max-width: 1200px) {
        .front-img {
            width: 10em;
        }
    }
</style>