@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
</head>
<h1>Dashboard</h1>
<p>Velkommen!</p>
<div class="text-center">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm">
                <h4>Pickup Points</h4>
                <a asp-page="/ChooseDatabase"><img src="~/imgs/database.png" style="height: 150px; width: auto; object-fit:contain;" /></a>
            </div>

            <div class="col-sm">
                <h4>Pickup Persons</h4>
                <a asp-page="/ContactPerson/Read"><img src="~/imgs/location.png" style="height: 150px; width: auto; object-fit:contain;" /></a>
            </div>

            <div class="col-sm">
                <h4>Employees</h4>
                <a asp-page="/Employee/Read"><img src="~/imgs/employee.png" style="height: 150px; width: auto; object-fit:contain;" /></a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="canvas-container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>

            <div class="col">
                <a asp-page="/Magazine/Read">
                    @Html.Raw(Model.ChartJson)
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="iframe-container"><iframe loading="lazy" src="https://www.google.com/maps/d/u/0/embed?mid=1Dqkw4IL1UUOQmmyEobiD3Xv6tE5Tkk6u" width="800" height="600" data-rocket-lazyload="fitvidscompatible" class="lazyloaded" data-ll-status="loaded" seamless></iframe></div>
            </div>
            <div class="col">
                <h4>Noget sindssygt fedt her</h4>
                <p>Yea baby</p>
            </div>
        </div>
    </div>
</div>

<style>

.canvas-container {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: auto;
    display: block;
}

.col-sm {
    margin: 1em;
    height: auto;
    padding: 10px;
    background: #FEFEFA;
    border-radius: 3px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.col {
    margin: 1em;
    background: #FEFEFA;
    border-radius: 3px;
    height: auto;
    padding: 10px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.iframe-container {
    position: relative;
    max-width: 800px;
    height: 600px;
    margin: auto;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

/*@@media only screen and (max-width: 1200px) {
    .col-sm {
        height:auto;
    }
}*/
</style>
<script>
    const data = {
        labels: [
            'Danmark',
            'Tyskland',
            'Sverige'
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [300, 50, 100],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    };

    const config = {
        type: 'doughnut',
        data: data,
    };
    // === include 'setup' then 'config' above ===

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>