@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Dashboard</h1>
<div class="text-center">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm">
                <h4>Pickup Points</h4>
                <img src="~/imgs/database.png" style="height: 150px; width: auto; object-fit:contain;"/>
            </div>

            <div class="col-sm">
                <h4>Pickup Persons</h4>
                <img src="~/imgs/location.png" style="height: 150px; width: auto; object-fit:contain;" />
            </div>

            <div class="col-sm">
                <h4>Employees</h4>
            </div>

            <div class="col-sm">
                <h4>En fjerde</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Google Maps</h4>
            </div>
            <div class="col">
                <h4>Noget andet</h4>
            </div>
        </div>
    </div>
</div>

<style>
    /*.front-img {
        width: 12em;
        height: auto;
        transition: ease-in-out 0.2s;
        padding: 30px;
    }

        .front-img:hover {
            opacity: 1;
            font-size: 102%;
        }*/


    .col-sm {
        margin: 1em;
        height: 30vh;
        padding: 10px;
        background: #FEFEFA;
        border-radius: 3px;
        box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
    }

    .col {
        margin: 1em;
        background: #FEFEFA;
        border-radius: 3px;
        height: 60vh;
        padding: 10px;
        box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
    }


    @@media only screen and (max-width: 1200px) {
        .front-img {
            width: 10em;
        }
    }
</style>