@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="wrapper">
        <h1>Malgré Tout Database System</h1>
        <div class="row">
            <div class="col-sm">
                <a asp-page="/ChooseDatabase"><img src="~/imgs/database.png" class="front-img" /></a>
            </div>

            <div class="col-sm">
                <a href="https://www.malgretout.dk/" target="_blank"><img src="~/imgs/mobile_malgre_tout_logo.webp" class="front-img" /></a>
            </div>

            <div class="col-sm">
                <a asp-page="/GoogleMaps"><img src="~/imgs/location.png" class="front-img" /></a>
            </div>
        </div>
    </div>
</div>

<style>
    .front-img {
        width: 12em;
        height: auto;
        transition: ease-in-out 0.2s;
        /*border: 1px solid black;*/
        padding: 30px;
        
        /*border-radius: 25px;*/
    }

        .front-img:hover {
            opacity: 1;
            font-size: 102%;
        }

    .col-sm {
        padding: 2em;
    }

    @@media only screen and (max-width: 1200px) {
        .front-img {
            width: 10em;
        }
    }
</style>