@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
</head>
<h1>Dashboard</h1>
<p>Velkommen!</p>
<div class="text-center">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm">
                <h4>Pickup Points</h4>
                <a asp-page="/ChooseDatabase"><img src="~/imgs/database.png" style="height: 150px; width: auto; object-fit:contain;" /></a>
            </div>

            <div class="col-sm">
                <h4>Pickup Persons</h4>
                <a asp-page="/ContactPerson/Read"><img src="~/imgs/location.png" style="height: 150px; width: auto; object-fit:contain;" /></a>
            </div>

            <div class="col-sm">
                <h4>Employees</h4>
                <a asp-page="/Employee/Read"><img src="~/imgs/employee.png" style="height: 150px; width: auto; object-fit:contain;" /></a>
            </div>
        </div>

        <div class="row">
            
                <div class="col">
                    <h4>Announces</h4>
                    <a asp-page="/Magazine/Read">
                        @Html.Raw(Model.ChartJson)
                    </a>
                </div>
            
        </div>

        <div class="row">
            <div class="col">
                <iframe loading="lazy" src="https://www.google.com/maps/d/u/0/embed?mid=1Dqkw4IL1UUOQmmyEobiD3Xv6tE5Tkk6u" width="800" height="600" data-rocket-lazyload="fitvidscompatible" class="lazyloaded" data-ll-status="loaded" seamless></iframe>
            <a asp-page="/GoogleMaps"><em class="btn btn-outline-info">See more</em></a>

            </div>
            <div class="col">
                <h4>Something Cool</h4>
            </div>
        </div>
    </div>
</div>

<style>
.col-sm {
    margin: 1em;
    height: 30vh;
    padding: 10px;
    background: #FEFEFA;
    border-radius: 3px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.col {
    margin: 1em;
    background: #FEFEFA;
    border-radius: 3px;
    height: auto;
    padding: 10px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

@@media only screen and (max-width: 1200px) {
    .front-img {
        width: 10em;
    }
}
</style>