@page
@model MalgreToutV2.Pages.Magazine.DeleteModel
@{
}
<h1>Slet Magasin</h1>
<h3>Er du sikker på du vil slette denne?</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Magazine.VersionId)</dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.Magazine.VersionId)</dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Magazine.Version)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Magazine.Version)
            </dd>
        </dl>
        <input type="hidden" asp-for="Magazine.VersionId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <br />
    </form>
    <br />
    <div>
        <a class="btn btn-outline-secondary" asp-page="/Magazine/Read">Tilbage</a>
    </div>
</div>