<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MalgreToutV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bbe27ab0c5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    </header>

    <div class="navigation">
        <a asp-area="" asp-page="/Index" style="text-decoration:none;"><h1 style="color: #f1f1f1;">Malgré Tout</h1></a>
        <a asp-area="" asp-page="/Index"><i class="fas fa-chart-line"></i> Dashboard</a>
        <a asp-area="" asp-page="/PickupPoint/Read"><i class="fas fa-map-marked-alt"></i> Opsamlingssteder</a>
        <a asp-area="" asp-page="/ContactPerson/Read"><i class="fas fa-people-carry"></i> Kontaktpersoner</a>
        <a asp-area="" asp-page="/Employee/Read"><i class="fas fa-users"></i> Medarbejdere</a>
        <a asp-area="" asp-page="/Magazine/Read"><i class="fas fa-copy"></i> Magasiner</a>
        <a asp-area="" asp-page="/GoogleMaps"><i class="fas fa-globe-europe"></i> Google Maps</a>
    </div>

    <div class="container-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @*<div class="container-footer">
            &copy; 2021 - MalgréTout - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>*@
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    body {
        margin: 0;
        background: #FEFEFA;
    }

/*a {
    transition: ease-in-out 0.2s;
}*/

.navigation {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #06191D;
    /*background-color: #123C69;*/
/*    background-color: #44318D;*/   
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navigation a {
    display: block;
    color: #f1f1f1;
    padding: 16px;
    text-decoration: none;
}

a:hover {
    color: #808080;
}

div.container-body {
    margin-left: 300px;
    padding: 10px 16px;
}

@@media screen and (max-width: 1000px) {
    .navigation {
    width: 100%;
    height: auto;
    position: relative;
}
    .navigation a {
        float: left;
    }
    div.container-body {
        margin-left: 0;
    }
}

@@media screen and (max-width: 400px) {
    .navigation a {
        text-align: center;
        float: none;
    }
}
</style>