@page
@model MalgreToutV2.Pages.Shared.LoginModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header">Admin login</div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="Username" class="form-label">
                                Brugernavn
                            </label>
                            <input class="form-control" id="Username" asp-for="@Model.Username" placeholder="Username" />
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">
                                Adgangskode
                            </label>
                            <input class="form-control" id="Password" asp-for="@Model.Password" placeholder="Password" />
                        </div>
                        <div class="mb-3">

                            <input class="btn btn-primary" value="Submit" type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>