@page
@model MalgreToutV2.Pages.Ads.ReadModel
@{
    ViewData["Title"] = "GetMagazines";
}
<h2>List of Ads</h2>
<br />
<a class="btn btn-outline-primary" asp-page="/Ads/Create">Create</a> <em>|</em> <a class="btn btn-outline-secondary" asp-page="/Magazine/Read">Back to Magazines</a>
<br />
<br />

<table class="table table-bordered table-responsive-sm table-hover">
    <thead style="background:lightgray">
        <tr>
            <th>Firma</th>
            <th>Pris</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.ads != null)
        {
            @foreach (var point in Model.ads)
            {
                <tr>
                    <td>@point.Company</td>
                    <td>@point.AdPrice kr.</td>
                    <td><a class="btn btn-outline-secondary" asp-route-id="@point.AdId" asp-page="/Ads/Update">Update</a> </td>
                    <td> <a class="btn btn-outline-danger" asp-page="/Magazine/Delete" asp-route-PickupPointId="@point.AdId">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>